@import '../../core/common/css/mixins';

//////////////////////////////////////////////////////////////////////////////////////////
/* MENU LEFT */

.menu-left {
  flex: 0 0 256px;
  max-width: 256px;
  min-width: 256px;
  width: 256px;
  background: $menuBg;
  position: relative;
  z-index: 1;

  @at-root {
    // box shadow option
    .menu-left--shadow {
      @media (min-width: $sm-min-width) {
        .menu-left {
          box-shadow: 0 0 200px -30px rgba($black-lighten-more, 0.4);
          &__inner {
            border: none !important;
          }
        }
      }
    }
  }

  // logo styles
  &__logo {
    width: 256px;
    height: rem(64);
    display: inline-block;
    background: $menuBg-darken;
    padding: rem(14) rem(18);
    a {
      line-height: rem(33);
    }
    img {
      max-height: rem(35);
      max-width: 90%;
      vertical-align: bottom;
    }
  }

  // inner block, fix for jScrollPane
  &__inner {
    // position: absolute;
    // top: rem(64);
    // bottom: 0;
    // width: 100% !important;

    @media (max-width: $sm-max-width) {
      overflow-y: auto;
    }
  }

  // submenu styles
  &__submenu {
    // submenu ul list
    > .menu-left__list {
      display: none;
      background: $menuBg-darken;
    }

    // submenu menu item modifier (adds arrow marker)
    &.menu-left__item {
      > a {
        &:after {
          display: block;
          content: '';
          border-width: rem(5) rem(5) rem(5) 0;
          border-color: transparent $black-lighten-more transparent transparent;
          border-style: solid;
          position: absolute;
          top: rem(17);
          right: rem(80);
          transition: transform 0.1s ease-in-out, border-color 0.2s ease-in-out;
        }

        &:hover {
          &::after {
            border-color: transparent $white transparent transparent;
          }
        }
      }
    }

    // toggled submenu
    &--toggled {
      // menu item
      &.menu-left__item {
        background: $menuBg-darken;

        > a {
          color: $white;

          .menu-left__icon {
            color: $white;
          }
          // arrow marker styles
          &:after {
            border-color: transparent $white transparent transparent;
            transform: rotate(-90deg);
          }
        }

        > .menu-left__icon {
          color: $white;
        }
      }
    }
  }

  // ul list
  &__list {
    list-style: none;
    padding-left: 0;
    &--root {
      margin: rem(20) 0;
    }
  }

  // menu item divider
  &__divider {
    background: $black-lighten-more;
    height: 1px;
    margin: rem(10) rem(20);
  }

  // menu item
  &__item {
    > a {
      position: relative;
      min-height: rem(45);
      padding: rem(12) rem(80) rem(12) rem(20);
      display: block;
      color: $gray-darken;

      &:hover {
        color: $white;

        .menu-left__icon {
          color: $white;
        }
      }

      // inner badge fitting
      > .badge {
        margin-top: rem(3);
      }
    }

    // menu item states
    &--active {
      > a,
      &:hover,
      &:active,
      &:focus {
        background: $ant-blue;
        color: $white;

        > .menu-left__icon {
          color: $white;
        }
      }
    }

    &--disabled {
      > a {
        cursor: default;
        background: transparent !important;
        color: $gray-darken !important;
        opacity: 0.4;
        > .menu-left__icon {
          color: $text !important;
        }
      }
    }
  }

  // menu item icon
  &__icon {
    position: absolute;
    width: rem(20);
    text-align: center;
    top: rem(15);
    right: rem(32);
    color: $text;
    font-weight: bold;
    line-height: 1.1;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;
  }

  // colorful menu

  &__list--root {
    > .menu-left__item {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        width: 2px;
        height: 100%;
        background: transparent;
      }

      &.menu-left--colorful--primary {
        &:hover,
        &.menu-left__submenu--toggled,
        &.menu-left__item--active {
          &:before {
            background-color: $primary;
          }
        }
      }
      &.menu-left--colorful--secondary {
        &:hover,
        &.menu-left__submenu--toggled,
        &.menu-left__item--active {
          &:before {
            background-color: $secondary;
          }
        }
      }
      &.menu-left--colorful--default {
        &:hover,
        &.menu-left__submenu--toggled,
        &.menu-left__item--active {
          &:before {
            background-color: $default;
          }
        }
      }
      &.menu-left--colorful--info {
        &:hover,
        &.menu-left__submenu--toggled,
        &.menu-left__item--active {
          &:before {
            background-color: $info;
          }
        }
      }
      &.menu-left--colorful--success {
        &:hover,
        &.menu-left__submenu--toggled,
        &.menu-left__item--active {
          &:before {
            background-color: $success;
          }
        }
      }
      &.menu-left--colorful--warning {
        &:hover,
        &.menu-left__submenu--toggled,
        &.menu-left__item--active {
          &:before {
            background-color: $warning;
          }
        }
      }
      &.menu-left--colorful--danger {
        &:hover,
        &.menu-left__submenu--toggled,
        &.menu-left__item--active {
          &:before {
            background-color: $danger;
          }
        }
      }
      &.menu-left--colorful--yellow {
        &:hover,
        &.menu-left__submenu--toggled,
        &.menu-left__item--active {
          &:before {
            background-color: $yellow;
          }
        }
      }
    }
  }
}

/////////////////////////////////////////////////////////////////////////////////////////
// backdrop block for menu mobile view

@media (max-width: $sm-max-width) {
  // backdrop block styles
  .menu-left__backdrop {
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: $black;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;

    // visible styles
    body.menu-left--visible--mobile & {
      opacity: 0.4;
      visibility: visible;
      transition: opacity 0.2s ease-in-out;
    }
  }

  // preventing body scroll
  body.menu-left--visible--mobile {
    overflow: hidden;
  }
}

/////////////////////////////////////////////////////////////////////////////////////////
/*  ANIMATED BUTTON (MENU TOGGLE) */

.menu-left__pin-button {
  display: none;
}

/////////////////////////////////////////////////////////////////////////////////////////
/*  JSCROLLPNAE CUSTOM STYLES */

.menu-left {
  .jspScrollable {
    outline: none;
    &:hover {
      .jspVerticalBar {
        opacity: 0.7;
        @include transition-very-slow();
      }
      .jspHorizontalBar {
        opacity: 0.7;
        @include transition-very-slow();
      }
    }
    .jspTrack {
      left: -2px !important;
    }
    .jspVerticalBar {
      background: transparent;
      width: 3px;
      opacity: 0;
      @include transition-slow();
    }
    .jspHorizontalBar {
      background: transparent;
      height: 4px;
      opacity: 0;
      bottom: 1px;
      @include transition-slow();
      .jspDrag:after {
        background: $text-darken-more;
        top: 0;
        bottom: 0;
      }
    }
    .jspPane,
    .jspContainer {
      width: 100% !important;
    }
    .jspCap {
      display: none;
    }
    .jspTrack {
      background: transparent;
      position: relative;
      width: 2px;
      left: -5px;
    }
    .jspDrag {
      background: transparent;
      position: relative;
      top: 0;
      left: -1px;
      width: 5px;
      cursor: pointer;
      border-radius: 0;
      &:after {
        display: block;
        content: '';
        background: $text-darken-more;
        position: absolute;
        width: 100%;
        top: 4px;
        bottom: 4px;
        border-radius: 20px;
      }
    }
  }
}
