<nav class="menu-left">
  <div class="menu-left__trigger menu-left__trigger--action"></div>
  <div class="menu-left__handler">
    <div class="menu-left__handler__icon"></div>
  </div>
  <div class="menu-left__inner">
    <div class="menu-left__logo">
      <a href="dashboards-alpha.html">
        <img src="../../components/dummy-assets/common/img/logo-inverse.png" alt="" />
      </a>
    </div>
    <div class="menu-left__scroll">
      <ul class="menu-left__list menu-left__list--root">
        <li class="menu-left__item">
          <a href="javascript: void(0);" class="menu-right__action--menu-toggle">
            <span class="menu-left__icon icmn-cog utils__spin-delayed--pseudo-selector"></span>
            <span class="menu-left__title">Theme Settings</span>
          </a>
        </li>
        <li class="menu-left__item">
          <a href="https://docs.cleanuitemplate.com/" target="_blank">
            <span class="menu-left__icon icmn-books"></span>
            <span class="menu-left__title">Documentation</span>
          </a>
        </li>
        <li class="menu-left__divider">
          <!-- -->
        </li>
        <li class="menu-left__item">
          <a href="dashboards-alpha.html">
            <span class="menu-left__icon icmn-home"></span>
            <span class="menu-left__title">Dashboard Alpha</span>
            <span class="ml-2 badge badge-primary">New</span>
          </a>
        </li>
        <li class="menu-left__item">
          <a href="dashboards-beta.html">
            <span class="menu-left__icon icmn-home"></span>
            <span class="menu-left__title">Dashboard Beta</span>
          </a>
        </li>
        <li class="menu-left__item">
          <a href="dashboards-crypto.html">
            <span class="menu-left__icon icmn-home"></span>
            <span class="menu-left__title">Dashboard Crypto</span>
            <span class="ml-2 badge badge-primary">New</span>
          </a>
        </li>
        <li class="menu-left__item">
          <a href="dashboards-gamma.html">
            <span class="menu-left__icon icmn-home"></span>
            <span class="menu-left__title">Dashboard Gamma</span>
            <span class="ml-2 badge badge-primary">New</span>
          </a>
        </li>
        <li class="menu-left__divider">
          <!-- -->
        </li>
        <li class="menu-left__item menu-left__submenu">
          <a href="javascript: void(0);">
            <span class="menu-left__icon icmn-file-text"></span>
            <span class="menu-left__title">Default Pages</span>
          </a>
          <ul class="menu-left__list">
            <li class="menu-left__item">
              <a href="pages-login-alpha.html">
                <span class="menu-left__icon">LA</span>
                <span class="menu-left__title">Login Alpha</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="pages-login-beta.html">
                <span class="menu-left__icon">LB</span>
                <span class="menu-left__title">Login Beta</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="pages-register.html">
                <span class="menu-left__icon">R</span>
                <span class="menu-left__title">Register</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="pages-lockscreen.html">
                <span class="menu-left__icon">LS</span>
                <span class="menu-left__title">Lockscreen</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="pages-pricing-tables.html">
                <span class="menu-left__icon">PT</span>
                <span class="menu-left__title">Pricing Tables</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="pages-invoice.html">
                <span class="menu-left__icon">I</span>
                <span class="menu-left__title">Invoice</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="pages-page-404.html">
                <span class="menu-left__icon">P4</span>
                <span class="menu-left__title">Page 404</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="pages-page-500.html">
                <span class="menu-left__icon">P5</span>
                <span class="menu-left__title">Page 500</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-left__item menu-left__submenu">
          <a href="javascript: void(0);">
            <span class="menu-left__icon icmn-download"></span>
            <span class="menu-left__title">Ecommerce</span>
          </a>
          <ul class="menu-left__list">
            <li class="menu-left__item">
              <a href="ecommerce-dashboard.html">
                <span class="menu-left__icon">DB</span>
                <span class="menu-left__title">Dashboard</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="ecommerce-products-catalog.html">
                <span class="menu-left__icon">PC</span>
                <span class="menu-left__title">Products Catalog</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="ecommerce-product-details.html">
                <span class="menu-left__icon">PD</span>
                <span class="menu-left__title">Product Details</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="ecommerce-product-edit.html">
                <span class="menu-left__icon">PE</span>
                <span class="menu-left__title">Product Edit</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="ecommerce-products-list.html">
                <span class="menu-left__icon">PL</span>
                <span class="menu-left__title">Products List</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="ecommerce-orders.html">
                <span class="menu-left__icon">O</span>
                <span class="menu-left__title">Orders</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="ecommerce-cart-checkout.html">
                <span class="menu-left__icon">CC</span>
                <span class="menu-left__title">Cart / Checkout</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-left__divider">
          <!-- -->
        </li>
        <li class="menu-left__item menu-left__submenu">
          <a href="javascript: void(0);">
            <span class="menu-left__icon icmn-list"></span>
            <span class="menu-left__title">Forms</span>
          </a>
          <ul class="menu-left__list">
            <li class="menu-left__item">
              <a href="forms-basic-form-elements.html">
                <span class="menu-left__icon">BF</span>
                <span class="menu-left__title">Basic Form Elements</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="forms-buttons.html">
                <span class="menu-left__icon">B</span>
                <span class="menu-left__title">Buttons</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="forms-dropdowns.html">
                <span class="menu-left__icon">D</span>
                <span class="menu-left__title">Dropdowns</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="forms-selectboxes.html">
                <span class="menu-left__icon">SB</span>
                <span class="menu-left__title">Selectboxes</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="forms-checkboxes-radio.html">
                <span class="menu-left__icon">CR</span>
                <span class="menu-left__title">Checkboxes / Radio</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="forms-form-wizard.html">
                <span class="menu-left__icon">FW</span>
                <span class="menu-left__title">Form Wizard</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="forms-form-validation.html">
                <span class="menu-left__icon">FV</span>
                <span class="menu-left__title">Form Validation</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="forms-autocomplete.html">
                <span class="menu-left__icon">AC</span>
                <span class="menu-left__title">Autocomplete</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="forms-input-mask.html">
                <span class="menu-left__icon">IM</span>
                <span class="menu-left__title">Input Mask</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="forms-file-uploads.html">
                <span class="menu-left__icon">FU</span>
                <span class="menu-left__title">File Uploads</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="forms-extras.html">
                <span class="menu-left__icon">E</span>
                <span class="menu-left__title">Extras</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-left__item menu-left__submenu">
          <a href="javascript: void(0);">
            <span class="menu-left__icon icmn-loop"></span>
            <span class="menu-left__title">Components</span>
          </a>
          <ul class="menu-left__list">
            <li class="menu-left__item">
              <a href="components-date-picker.html">
                <span class="menu-left__icon">DP</span>
                <span class="menu-left__title">Date Picker</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="components-calendar.html">
                <span class="menu-left__icon">CL</span>
                <span class="menu-left__title">Calendar</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="components-carousel.html">
                <span class="menu-left__icon">CR</span>
                <span class="menu-left__title">Carousel</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="components-slider.html">
                <span class="menu-left__icon">SL</span>
                <span class="menu-left__title">Slider</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="components-modal.html">
                <span class="menu-left__icon">M</span>
                <span class="menu-left__title">Modal</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="components-tooltips-popovers.html">
                <span class="menu-left__icon">TP</span>
                <span class="menu-left__title">Tooltips & Popovers</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="components-notifications-alerts.html">
                <span class="menu-left__icon">NA</span>
                <span class="menu-left__title">Notifications & Alerts</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="components-loading-progress.html">
                <span class="menu-left__icon">LP</span>
                <span class="menu-left__title">Loading Progress</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="components-progress-bars.html">
                <span class="menu-left__icon">PB</span>
                <span class="menu-left__title">Progress Bars</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="components-badges-labels.html">
                <span class="menu-left__icon">BL</span>
                <span class="menu-left__title">Badges & Labels</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="components-steps.html">
                <span class="menu-left__icon">S</span>
                <span class="menu-left__title">Steps</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="components-breadcrumbs.html">
                <span class="menu-left__icon">B</span>
                <span class="menu-left__title">Breadcrumbs</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="components-pagination.html">
                <span class="menu-left__icon">P</span>
                <span class="menu-left__title">Pagination</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="components-collapse.html">
                <span class="menu-left__icon">C</span>
                <span class="menu-left__title">Collapse</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="components-tabs.html">
                <span class="menu-left__icon">T</span>
                <span class="menu-left__title">Tabs</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="components-text-editor.html">
                <span class="menu-left__icon">TE</span>
                <span class="menu-left__title">Text Editor</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="components-nestable.html">
                <span class="menu-left__icon">N</span>
                <span class="menu-left__title">Nestable</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-left__item menu-left__submenu">
          <a href="javascript: void(0);">
            <span class="menu-left__icon icmn-table"></span>
            <span class="menu-left__title">Tables</span>
          </a>
          <ul class="menu-left__list">
            <li class="menu-left__item">
              <a href="tables-basic-tables.html">
                <span class="menu-left__icon">BT</span>
                <span class="menu-left__title">Basic Tables</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="tables-datatables.html">
                <span class="menu-left__icon">DT</span>
                <span class="menu-left__title">DataTables</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="tables-editable-tables.html">
                <span class="menu-left__icon">ET</span>
                <span class="menu-left__title">Editable Tables</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-left__item menu-left__submenu">
          <a href="javascript: void(0);">
            <span class="menu-left__icon icmn-stats-bars"></span>
            <span class="menu-left__title">Charts</span>
          </a>
          <ul class="menu-left__list">
            <li class="menu-left__item">
              <a href="charts-chartistjs.html">
                <span class="menu-left__icon">CT</span>
                <span class="menu-left__title">Chartist.js</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="charts-chartjs.html">
                <span class="menu-left__icon">CR</span>
                <span class="menu-left__title">Chart.js</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="charts-c3.html">
                <span class="menu-left__icon">C3</span>
                <span class="menu-left__title">C3</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="charts-peity.html">
                <span class="menu-left__icon">PT</span>
                <span class="menu-left__title">Peity</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-left__item">
          <a href="components-mail-templates.html">
            <span class="menu-left__icon icmn-envelop"></span>
            <span class="menu-left__title">Mail Templates</span>
          </a>
        </li>
        <li class="menu-left__divider">
          <!-- -->
        </li>
        <li class="menu-left__item">
          <a href="apps-profile.html">
            <span class="menu-left__icon icmn-profile"></span>
            <span class="menu-left__title">Profile</span>
          </a>
        </li>
        <li class="menu-left__item">
          <a href="apps-messaging.html">
            <span class="menu-left__icon icmn-bubbles4"></span>
            <span class="menu-left__title">Messaging</span>
            <span class="ml-2 badge badge-danger">768</span>
          </a>
        </li>
        <li class="menu-left__item">
          <a href="apps-mail.html">
            <span class="menu-left__icon icmn-envelop"></span>
            <span class="menu-left__title">Mail</span>
            <span class="ml-2 badge badge-success">84</span>
          </a>
        </li>
        <li class="menu-left__item">
          <a href="apps-calendar.html">
            <span class="menu-left__icon icmn-calendar"></span>
            <span class="menu-left__title">Calendar</span>
          </a>
        </li>
        <li class="menu-left__item">
          <a href="apps-gallery.html">
            <span class="menu-left__icon icmn-images"></span>
            <span class="menu-left__title">Gallery</span>
          </a>
        </li>
        <li class="menu-left__divider">
          <!-- -->
        </li>
        <li class="menu-left__item menu-left__submenu">
          <a href="javascript: void(0);">
            <span class="menu-left__icon icmn-checkbox-unchecked"></span>
            <span class="menu-left__title">Layout</span>
          </a>
          <ul class="menu-left__list">
            <li class="menu-left__item">
              <a href="layout-grid.html">
                <span class="menu-left__icon">G</span>
                <span class="menu-left__title">Grid</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="layout-cards.html">
                <span class="menu-left__icon">PC</span>
                <span class="menu-left__title">Cards / Panels</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="layout-sidebars.html">
                <span class="menu-left__icon">SB</span>
                <span class="menu-left__title">Sidebars</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="layout-utilities.html">
                <span class="menu-left__icon">U</span>
                <span class="menu-left__title">Utilities</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-left__item menu-left__submenu">
          <a href="javascript: void(0);">
            <span class="menu-left__icon icmn-star-full"></span>
            <span class="menu-left__title">Icons</span>
          </a>
          <ul class="menu-left__list">
            <li class="menu-left__item">
              <a href="icons-fontawesome.html">
                <span class="menu-left__icon">FA</span>
                <span class="menu-left__title">FontAwesome</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="icons-linear-icons-free.html">
                <span class="menu-left__icon">LI</span>
                <span class="menu-left__title">Linearicons Free</span>
              </a>
            </li>
            <li class="menu-left__item">
              <a href="icons-icomoon-free.html">
                <span class="menu-left__icon">IC</span>
                <span class="menu-left__title">Icomoon Free</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-left__item">
          <a href="layout-typography.html">
            <span class="menu-left__icon icmn-font-size"></span>
            <span class="menu-left__title">Typography</span>
          </a>
        </li>
        <li class="menu-left__divider">
          <!-- -->
        </li>
        <li class="menu-left__item menu-left__item--disabled">
          <a href="javascript: void(0);">
            <span class="menu-left__icon">D</span>
            <span class="menu-left__title">Disabled Item</span>
          </a>
        </li>
        <li class="menu-left__item menu-left__submenu">
          <a href="javascript: void(0);">
            <span class="menu-left__icon">IN</span>
            <span class="menu-left__title">Infinity Nested</span>
          </a>
          <!-- level 1 -->
          <ul class="menu-left__list">
            <li class="menu-left__item menu-left__submenu">
              <a href="javascript: void(0);">
                <span class="menu-left__title">Level 1</span>
              </a>
              <!-- level 2 -->
              <ul class="menu-left__list">
                <li class="menu-left__item menu-left__submenu">
                  <a href="javascript: void(0);">
                    <span class="menu-left__title">Level 1.2</span>
                  </a>
                  <!-- level 3 -->
                  <ul class="menu-left__list">
                    <li class="menu-left__item">
                      <a href="javascript: void(0);">
                        <span class="menu-left__title">Level 1.2.3</span>
                      </a>
                    </li>
                    <li class="menu-left__item menu-left__submenu">
                      <a href="javascript: void(0);">
                        <span class="menu-left__title">Level 1.2.3</span>
                      </a>
                      <!-- level 4 -->
                      <ul class="menu-left__list">
                        <li class="menu-left__item">
                          <a href="javascript: void(0);">
                            <span class="menu-left__title">Level 1.2.3.4</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="menu-left__item">
                  <a href="javascript: void(0);">
                    <span class="menu-left__title">Level 1.2</span>
                  </a>
                </li>
                <li class="menu-left__item">
                  <a href="javascript: void(0);">
                    <span class="menu-left__title">Level 1.2</span>
                  </a>
                </li>
                <li class="menu-left__item">
                  <a href="javascript: void(0);">
                    <span class="menu-left__title">Level 1.2</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-left__item">
              <a href="javascript: void(0);">
                <span class="menu-left__title">Level 1</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-left__divider menu-left__item--special">
          <!-- -->
        </li>
        <li class="menu-left__item menu-left__item--special">
          <a href="javascript: void(0);">
            <span class="utils__donut utils__donut--success"></span>
            <span class="menu-left__title">Jupiter</span>
          </a>
        </li>
        <li class="menu-left__item menu-left__item--special">
          <a href="javascript: void(0);">
            <span class="utils__donut utils__donut--primary"></span>
            <span class="menu-left__title">Earth</span>
          </a>
        </li>
        <li class="menu-left__item menu-left__item--special">
          <a href="javascript: void(0);">
            <span class="utils__donut utils__donut--danger"></span>
            <span class="menu-left__title">Mercury</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
