<!-- START: components/steps -->
<section class="card">
  <div class="card-header">
    <span class="utils__title">
      <strong>Steps</strong>
    </span>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="mb-5">
          <h5 class="text-black"><strong>Block Steps w/ Digit</strong></h5>
          <p class="text-muted">Element: <code>div.utils__step</code></p>
          <p class="text-muted">
            Modifiers: <code>default</code>, <code>primary</code>, <code>secondary</code>,
            <code>success</code>, <code>info</code>, <code>warning</code>, <code>danger</code>,
            <code>disabled</code>
          </p>
          <p class="text-muted">Color Modifier: <code>.utils__step--(modifier)</code></p>
          <div class="row">
            <div class="col-lg-3">
              <!-- Example State Default -->
              <div class="utils__step utils__step--success">
                <span class="utils__step__digit">1</span>
                <div class="utils__step__desc">
                  <span class="utils__step__title">Block Title</span>
                  <p>Waiting for review</p>
                </div>
              </div>
              <!-- End Example State Default -->
            </div>
            <div class="col-lg-3">
              <!-- Example State Error -->
              <div class="utils__step utils__step--primary">
                <span class="utils__step__digit">2</span>
                <div class="utils__step__desc">
                  <span class="utils__step__title">Block Title</span>
                  <p>Waiting for review</p>
                </div>
              </div>
              <!-- End Example State Error -->
            </div>
            <div class="col-lg-3">
              <!-- Example State Current -->
              <div class="utils__step utils__step--danger">
                <span class="utils__step__digit">3</span>
                <div class="utils__step__desc">
                  <span class="utils__step__title">Block Title</span>
                  <p>Waiting for review</p>
                </div>
              </div>
              <!-- End Example State Current -->
            </div>
            <div class="col-lg-3">
              <!-- Example State Disabled -->
              <div class="utils__step utils__step--default utils__step--disabled">
                <span class="utils__step__digit">14</span>
                <div class="utils__step__desc">
                  <span class="utils__step__title">Disabled</span>
                  <p>Waiting for review</p>
                </div>
              </div>
              <!-- End Example State Disabled -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="mb-5">
          <h5 class="text-black"><strong>Squared Block Steps w/ Icon</strong></h5>
          <p class="text-muted">Element: <code>span.utils__step__digit</code></p>
          <div class="row">
            <div class="col-lg-3">
              <!-- Example State Done -->
              <div class="utils__step utils__step--squared utils__step--default">
                <span class="utils__step__digit">
                  <i class="icmn-home"><!-- --></i>
                </span>
                <div class="utils__step__desc">
                  <span class="utils__step__title">Block Title</span>
                  <p>Waiting for review</p>
                </div>
              </div>
              <!-- End Example State Done -->
            </div>
            <div class="col-lg-3">
              <!-- Example State Error -->
              <div class="utils__step utils__step--squared utils__step--default">
                <span class="utils__step__digit">
                  <i class="icmn-key"><!-- --></i>
                </span>
                <div class="utils__step__desc">
                  <span class="sutils__step__title">Block Title</span>
                  <p>Waiting for review</p>
                </div>
              </div>
              <!-- End Example State Error -->
            </div>
            <div class="col-lg-3">
              <!-- Example State Current -->
              <div class="utils__step utils__step--squared utils__step--default">
                <span class="utils__step__digit">
                  <i class="icmn-play2"><!-- --></i>
                </span>
                <div class="utils__step__desc">
                  <span class="utils__step__title">Block Title</span>
                  <p>Waiting for review</p>
                </div>
              </div>
              <!-- End Example State Current -->
            </div>
            <div class="col-lg-3">
              <!-- Example State Disabled -->
              <div class="utils__step">
                <span class="utils__step__digit">
                  <i class="icmn-database"><!-- --></i>
                </span>
                <div class="utils__step__desc">
                  <span class="utils__step__title">Block Title</span>
                  <p>Waiting for review</p>
                </div>
              </div>
              <!-- End Example State Disabled -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h5 class="text-black"><strong>Steps in card Heading</strong></h5>
        <p class="text-muted">Insert Step into <code>.card-header</code> element</p>
        <div class="mb-5">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-lg-3">
                  <!-- Example State Default -->
                  <div class="utils__step utils__step--success">
                    <span class="utils__step__digit">1</span>
                    <div class="utils__step__desc">
                      <span class="utils__step__title">Block Title</span>
                      <p>Waiting for review</p>
                    </div>
                  </div>
                  <!-- End Example State Default -->
                </div>
                <div class="col-lg-3">
                  <!-- Example State Error -->
                  <div class="utils__step utils__step--primary">
                    <span class="utils__step__digit">2</span>
                    <div class="utils__step__desc">
                      <span class="utils__step__title">Block Title</span>
                      <p>Waiting for review</p>
                    </div>
                  </div>
                  <!-- End Example State Error -->
                </div>
                <div class="col-lg-3">
                  <!-- Example State Current -->
                  <div class="utils__step utils__step--danger">
                    <span class="utils__step__digit">3</span>
                    <div class="utils__step__desc">
                      <span class="utils__step__title">Block Title</span>
                      <p>Waiting for review</p>
                    </div>
                  </div>
                  <!-- End Example State Current -->
                </div>
                <div class="col-lg-3">
                  <!-- Example State Disabled -->
                  <div class="utils__step utils__step--default utils__step--disabled">
                    <span class="utils__step__digit">14</span>
                    <div class="utils__step__desc">
                      <span class="utils__step__title">Disabled</span>
                      <p>Waiting for review</p>
                    </div>
                  </div>
                  <!-- End Example State Disabled -->
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12">
                  card Body Content
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h5 class="text-black"><strong>Steps in card Heading w/ Icon</strong></h5>
        <p class="text-muted">Element: <code>span.utils__step__digit</code></p>
        <div class="mb-5">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-lg-3">
                  <!-- Example State Done -->
                  <div class="utils__step utils__step--squared utils__step--default">
                    <span class="utils__step__digit">
                      <i class="icmn-home"><!-- --></i>
                    </span>
                    <div class="utils__step__desc">
                      <span class="utils__step__title">Block Title</span>
                      <p>Waiting for review</p>
                    </div>
                  </div>
                  <!-- End Example State Done -->
                </div>
                <div class="col-lg-3">
                  <!-- Example State Error -->
                  <div class="utils__step utils__step--squared utils__step--default">
                    <span class="utils__step__digit">
                      <i class="icmn-key"><!-- --></i>
                    </span>
                    <div class="utils__step__desc">
                      <span class="utils__step__title">Block Title</span>
                      <p>Waiting for review</p>
                    </div>
                  </div>
                  <!-- End Example State Error -->
                </div>
                <div class="col-lg-3">
                  <!-- Example State Current -->
                  <div class="utils__step utils__step--squared utils__step--default">
                    <span class="utils__step__digit">
                      <i class="icmn-play2"><!-- --></i>
                    </span>
                    <div class="utils__step__desc">
                      <span class="utils__step__title">Block Title</span>
                      <p>Waiting for review</p>
                    </div>
                  </div>
                  <!-- End Example State Current -->
                </div>
                <div class="col-lg-3">
                  <!-- Example State Disabled -->
                  <div class="utils__step">
                    <span class="utils__step__digit">
                      <i class="icmn-database"><!-- --></i>
                    </span>
                    <div class="utils__step__desc">
                      <span class="utils__step__title">Block Title</span>
                      <p>Waiting for review</p>
                    </div>
                  </div>
                  <!-- End Example State Disabled -->
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12">
                  card Body Content
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h5 class="text-black"><strong>Inline Steps</strong></h5>
        <p class="text-muted">Element: <code>div.utils__steps-inline</code></p>
        <div class="utils__steps-inline mb-2 mr-2">
          <div class="utils__step utils__step--primary"><i class="icmn-home"></i></div>
          <div class="utils__step utils__step--primary">1</div>
          <div class="utils__step utils__step--primary">2</div>
          <div class="utils__step">3</div>
        </div>
        <div class="utils__steps-inline  mb-2 mr-2">
          <a href="javascript: void(0);" class="utils__step utils__step--success"></a>
          <a
            href="javascript: void(0);"
            class="utils__step utils__step--success utils__step--disabled"
          ></a>
          <a href="javascript: void(0);" class="utils__step"></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END: components/steps -->
