<div class="cui__sidebar kit__customScroll">
  <div class="cui__sidebar__inner">
    <a href="javascript: void(0);" class="cui__sidebar__close cui__sidebar__actionToggle fe fe-x-circle"></a>
    <h5>
      <strong>Theme Settings</strong>
    </h5>
    <div class="cui__utils__line" style="margin-top: 25px; margin-bottom: 30px"></div>
    <div class="cui__sidebar__type">
      <div class="cui__sidebar__type__title">
        <span>Menu Type</span>
      </div>
      <div class="cui__sidebar__type__items">
        <div class="row">
          <div class="col-6">
            <label class="kit__utils__control kit__utils__control__radio">
              <input type="radio" name="menuType" checked to="body" setting="" />
              <span class="kit__utils__control__indicator"></span>
              Default
            </label>
            <label class="kit__utils__control kit__utils__control__radio hideIfMenuTop">
              <input type="radio" name="menuType" to="body" setting="cui__menu--flyout" />
              <span class="kit__utils__control__indicator"></span>
              Flyout
            </label>
          </div>
          <div class="col-6">
            <label class="kit__utils__control kit__utils__control__radio hideIfMenuTop">
              <input type="radio" name="menuType" to="body" setting="cui__menu--compact" />
              <span class="kit__utils__control__indicator"></span>
              Compact
            </label>
            <label class="kit__utils__control kit__utils__control__radio">
              <input type="radio" name="menuType" to="body" setting="cui__menu--nomenu" />
              <span class="kit__utils__control__indicator"></span>
              No Menu
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="cui__sidebar__item hideIfMenuTop">
      <div class="cui__sidebar__label">
        Toggled left menu
      </div>
      <div class="cui__sidebar__container">
        <label class="cui__sidebar__switch">
          <input type="checkbox" to="body" setting="cui__menu--toggled" />
          <span class="cui__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="cui__sidebar__item hideIfMenuTop">
      <div class="cui__sidebar__label">
        Unfixed left menu
      </div>
      <div class="cui__sidebar__container">
        <label class="cui__sidebar__switch">
          <input type="checkbox" to="body" setting="cui__menu--unfixed" />
          <span class="cui__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="cui__sidebar__item">
      <div class="cui__sidebar__label">
        Fixed topbar
      </div>
      <div class="cui__sidebar__container">
        <label class="cui__sidebar__switch">
          <input type="checkbox" to="body" setting="cui__layout--fixedHeader" />
          <span class="cui__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="cui__sidebar__item">
      <div class="cui__sidebar__label">
        Menu color
      </div>
      <div class="cui__sidebar__container">
        <div class="cui__sidebar__select" to="body">
          <div class="cui__sidebar__select__item cui__sidebar__select__item--white" setting="cui__menu--white"></div>
          <div class="cui__sidebar__select__item cui__sidebar__select__item--gray" setting="cui__menu--gray"></div>
          <div class="cui__sidebar__select__item cui__sidebar__select__item--blue" setting="cui__menu--blue"></div>
          <div class="cui__sidebar__select__item cui__sidebar__select__item--black cui__sidebar__select__item--active">
          </div>
        </div>
      </div>
    </div>
    <div class="cui__sidebar__item">
      <div class="cui__sidebar__label">
        Flyout menu
      </div>
      <div class="cui__sidebar__container">
        <div class="cui__sidebar__select" to="body">
          <div class="cui__sidebar__select__item cui__sidebar__select__item--white" setting="cui__menu__submenu--white">
          </div>
          <div class="cui__sidebar__select__item cui__sidebar__select__item--gray" setting="cui__menu__submenu--gray">
          </div>
          <div class="cui__sidebar__select__item cui__sidebar__select__item--blue cui__sidebar__select__item--active"
            setting="cui__menu__submenu--blue"></div>
          <div class="cui__sidebar__select__item cui__sidebar__select__item--black" setting="cui__menu__submenu--black">
          </div>
        </div>
      </div>
    </div>
    <div class="cui__sidebar__item">
      <div class="cui__sidebar__label">
        Login color
      </div>
      <div class="cui__sidebar__container">
        <div class="cui__sidebar__select" to="body">
          <div class="cui__sidebar__select__item cui__sidebar__select__item--white" setting="cui__auth--white"></div>
          <div class="cui__sidebar__select__item cui__sidebar__select__item--gray cui__sidebar__select__item--active"
            setting=""></div>
          <div class="cui__sidebar__select__item cui__sidebar__select__item--blue" setting="cui__auth--blue"></div>
          <div class="cui__sidebar__select__item cui__sidebar__select__item--black" setting="cui__auth--black"></div>
          <div class="cui__sidebar__select__item cui__sidebar__select__item--img" setting="cui__auth--img"></div>
        </div>
      </div>
    </div>
    <div class="cui__sidebar__item">
      <div class="cui__sidebar__label">
        Content no max-width
      </div>
      <div class="cui__sidebar__container">
        <label class="cui__sidebar__switch">
          <input type="checkbox" to="body" setting="cui__layout--contentNoMaxWidth" />
          <span class="cui__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="cui__sidebar__item">
      <div class="cui__sidebar__label">
        App max-width
      </div>
      <div class="cui__sidebar__container">
        <label class="cui__sidebar__switch">
          <input type="checkbox" to="body" setting="cui__layout--appMaxWidth" />
          <span class="cui__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="cui__sidebar__item">
      <div class="cui__sidebar__label">
        Gray background
      </div>
      <div class="cui__sidebar__container">
        <label class="cui__sidebar__switch">
          <input type="checkbox" to="body" setting="cui__layout--grayBackground" />
          <span class="cui__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="cui__sidebar__item">
      <div class="cui__sidebar__label">
        Gray topbar
      </div>
      <div class="cui__sidebar__container">
        <label class="cui__sidebar__switch">
          <input type="checkbox" to="body" setting="cui__layout--grayTopbar" />
          <span class="cui__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="cui__sidebar__item">
      <div class="cui__sidebar__label">
        Squared card borders
      </div>
      <div class="cui__sidebar__container">
        <label class="cui__sidebar__switch">
          <input type="checkbox" to="body" setting="cui__layout--squaredBorders" />
          <span class="cui__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="cui__sidebar__item">
      <div class="cui__sidebar__label">
        Card shadow
      </div>
      <div class="cui__sidebar__container">
        <label class="cui__sidebar__switch">
          <input type="checkbox" to="body" setting="cui__layout--cardsShadow" />
          <span class="cui__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="cui__sidebar__item">
      <div class="cui__sidebar__label">
        Borderless cards
      </div>
      <div class="cui__sidebar__container">
        <label class="cui__sidebar__switch">
          <input type="checkbox" to="body" setting="cui__layout--borderless" />
          <span class="cui__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="cui__sidebar__item">
      <div class="cui__sidebar__label">
        Menu shadow
      </div>
      <div class="cui__sidebar__container">
        <label class="cui__sidebar__switch">
          <input type="checkbox" to="body" setting="cui__menu--shadow" />
          <span class="cui__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
  </div>
</div>
<a href="javascript: void(0);" style="bottom: calc(50% + 120px)"
  class="cui__sidebar__toggleButton cui__sidebar__actionToggle" data-toggle="tooltip" data-placement="left"
  title="Settings">
  <i class="fe fe-settings"></i>
</a>
<a href="javascript: void(0);" style="bottom: calc(50% + 60px)"
  class="cui__sidebar__toggleButton cui__sidebar__actionToggleTheme" data-toggle="tooltip" data-placement="left"
  title="Switch Dark / Light Theme">
  <i class=" fe fe-moon cui__sidebar__on"></i>
  <i class="fe fe-sun cui__sidebar__off"></i>
</a>
<a href="javascript: void(0);" style="bottom: calc(50%)" class="cui__sidebar__toggleButton color" data-toggle="tooltip"
  data-placement="left" title="Set Primary Color">
  <button type=" button" tabindex="0">
    <i class="fe fe-x-circle"></i>
  </button>
  <input type="color" id="colorPicker" />
  <i class="fe fe-package"></i>
</a>
<a href="https://docs.cleanuitemplate.com" target="_blank" rel="noopener noreferrer" style="bottom: calc(50% - 60px)"
  class="cui__sidebar__toggleButton" data-toggle="tooltip" data-placement="left" title="Documentation">
  <i class=" fe fe-book-open"></i>
</a>