@import '../../../core/common/css/mixins';

/////////////////////////////////////////////////////////////////////////////////////////
/* THEMES: BLUE */

$color1: #fff;
$color2: #000730;
$color3: #000942;
$color4: rgba(255, 255, 255, 0.17);

.cui-theme {
  &-blue {
    // "cui-menu-left" module styles

    .cui-menu-left {
      &-inner {
        background: $color2;
      }
    }

    .cui-menu-left-logo {
      background: lighten($color3, 7%);
    }

    .cui-menu-left-divider {
      background: $color4;
    }

    .cui-menu-left-item-active > a,
    .cui-menu-left-item:hover > a,
    .cui-menu-left-item:active > a,
    .cui-menu-left-item:focus > a {
      background: lighten($color3, 7%);
    }

    .cui-menu-left-submenu-toggled.cui-menu-left-item {
      color: $color1;

      > a {
        background: lighten($color3, 7%);
        color: $white;
        .cui-menu-left-icon {
          color: $white;
        }
      }
    }

    .cui-menu-left-submenu > .cui-menu-left-list {
      background: lighten($color3, 3%);
    }

    // horizontal layout
    // &.config--horizontal {
    //   @media (min-width: 768px) {
    //     .cui-menu-left-list-root > li.cui-menu-left-item {
    //       > a {
    //         border-left-color: darken($color2, 10%);
    //       }
    //       &:hover > a {
    //         background: $color3;
    //       }
    //     }
    //   }
    // }
  }
}
