@import '../../../core/common/css/mixins';

/////////////////////////////////////////////////////////////////////////////////////////
/* THEMES: BLUE */

$color1: #fff;
$color2: #000730;
$color3: #000942;
$color4: rgba(255, 255, 255, 0.17);

body.theme {
  &--blue {
    // "menu-left" module styles

    .menu-left__logo {
      background: lighten($color3, 7%);
    }

    .menu-left__lock {
      background: lighten($color3, 7%);
    }

    .menu-left__pin-button {
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }

    .menu-left__pin-button div {
      background: #fff;
    }

    .menu-left__pin-button div:before,
    .menu-left__pin-button div:after {
      background: #fff;
    }

    .menu-left {
      background: $color2;
    }

    .menu-left__item > a {
      color: $color1;
    }

    .menu-left__divider {
      background: $color4;
    }

    .menu-left__icon {
      color: $color1;
    }

    .menu-left__submenu.menu-left__item > a::after {
      border-color: transparent $color4 transparent transparent;
    }

    .menu-left__item--active > a,
    .menu-left__item:hover > a,
    .menu-left__item:active > a,
    .menu-left__item:focus > a {
      background: lighten($color3, 7%);
    }

    .menu-left__submenu--toggled.menu-left__item {
      color: $color1;

      > a {
        background: lighten($color3, 7%);
        color: $white;
        .menu-left__icon {
          color: $white;
        }
      }
    }

    .menu-left__submenu > .menu-left__list {
      background: lighten($color3, 3%);
    }

    // compact & vertical layout
    &.config--vertical.config--compact {
      @media (min-width: 768px) {
        .menu-left__item > a:before {
          background: lighten($color2, 10%);
        }
      }
    }

    // horizontal layout
    &.config--horizontal {
      @media (min-width: 768px) {
        .menu-left__list--root > li.menu-left__item {
          > a {
            border-left-color: darken($color2, 10%);
          }
          &:hover > a {
            background: $color3;
          }
        }
      }
    }
  }
}
