@import '../../../core/common/css/mixins';

/////////////////////////////////////////////////////////////////////////////////////////
/* THEMES: GREEN */

$color1: #fff;
$color2: #74708d;
$color3: #e4e9f0;
$color4: #e4e9f0;
$color5: #528e74;

.cui-theme {
  &-green {
    // cui-topbar
    .cui-topbar {
      background: $color5;
      border-bottom-color: $color5;
    }

    .cui-topbar-mini-chart {
      color: $color1;
    }

    .cui-topbar-mini-chart-inner i {
      background: $color1;
    }

    .cui-topbar-search {
      border-bottom-color: rgba($color1, 0.2);
    }

    .cui-topbar-search input {
      background: $white;
    }

    .cui-topbar-item > .dropdown > a {
      color: $color1;

      &:hover {
        color: $color3;
      }
    }

    .cui-topbar-menu-button {
      color: $color1;

      &:hover {
        opacity: 0.7;
      }
    }

    // "cui-menu-left" module styles
    .cui-menu-left {
      background: $color1;
      &__inner {
        border-right: 1px solid $gray-border;
      }
    }
    
    .cui-menu-left-logo {
      background: $color5;
    }

    .cui-menu-left-item > a {
      color: $color2;
    }

    .cui-menu-left-item-active > a,
    .cui-menu-left-item:hover > a,
    .cui-menu-left-item:active > a,
    .cui-menu-left-item:focus > a {
      background: $color5;
      color: $white;

      &:before {
        display: none !important;
      }
    }

    .cui-menu-left-submenu-toggled.cui-menu-left-item {
      background: $color5;
      color: $color1;

      > a {
        color: $white;
        .cui-menu-left-icon {
          color: $white;
        }
      }
    }

    .cui-menu-left-submenu > .cui-menu-left-list {
      background: lighten($color3, 5%);
    }

    .cui-menu-left-icon {
      color: lighten($color2, 30%);
    }

    .cui-menu-left-item-active > a > .cui-menu-left-icon,
    .cui-menu-left-item:hover > a > .cui-menu-left-icon,
    .cui-menu-left-item:active > a > .cui-menu-left-icon,
    .cui-menu-left-item:focus > a > .cui-menu-left-icon {
      color: $color1;
    }

    .cui-menu-left-submenu.cui-menu-left-item > a:after {
      border-color: transparent lighten($color2, 30%) transparent transparent;
    }

    .cui-menu-left-divider {
      background: $color3;
    }

    .cui-menu-left .jspScrollable .jspDrag:after {
      background: lighten($color2, 40%) !important;
    }

    // horizontal layout
    // &.config--horizontal {
    //   .cui-menu-left {
    //     border-right: none;
    //     border-bottom: 1px solid $color4;
    //   }

    //   @media (min-width: 768px) {
    //     .cui-menu-left-list-root > li.cui-menu-left-item {
    //       > a {
    //         border-left-color: $color3;
    //       }

    //       &:hover {
    //         > a {
    //           border-left-color: $color5;
    //           .cui-menu-left-icon {
    //             color: $color1 !important;
    //           }
    //         }
    //       }
    //     }

    //     .cui-menu-left-list-root > li.cui-menu-left-item:hover > a {
    //       background: $color5;
    //       color: $white;
    //     }

    //     .cui-menu-left-list-root > li.cui-menu-left-item:hover > a > .cui-menu-left-icon {
    //       color: lighten($color2, 10%);
    //     }
    //   }
    // }
  }
}
