@import '../../../core/common/css/mixins';

/////////////////////////////////////////////////////////////////////////////////////////
/* THEMES: LIGHT */

$color1: #fff;
$color2: #74708d;
$color3: #e4e9f0;
$color4: #e4e9f0;
$color5: #e6f8ff;

body.theme {
  &--light {

    // "menu-left" module styles
    .menu-left {
      background: $color1;
      border-right: 1px solid $color4;
    }

    .menu-left__item {
      & > a {
        color: $color2;
        &:hover, &:focus {
          color: $ant-blue;
        }

        &:active {
          color: $ant-blue;
          background-color: $color5;
        }
      }

      &.menu-left__submenu {
        &:hover {
          & > a {
            &::after {
              border-color: transparent $color2 transparent transparent;
            }
          }
        }
      }
    }

    .menu-left__item--active > a{
      background: $color5;
    }

    .menu-left__submenu--toggled.menu-left__item {
      color: $color2;
      background-color: $white;
      & > a {
        .menu-left__icon {
          color: #8f8ca4;
        }
      }
    }

    .menu-left__submenu > .menu-left__list {
      background: $white;
    }

    .menu-left__icon {
      color: lighten($color2, 30%);
    }

    .menu-left__item--active > a > .menu-left__icon,
    .menu-left__item:hover > a > .menu-left__icon,
    .menu-left__item:active > a > .menu-left__icon,
    .menu-left__item:focus > a > .menu-left__icon {
      color: lighten($color2, 10%);
    }

    .menu-left__submenu.menu-left__item > a:after {
      border-color: transparent lighten($color2, 30%) transparent transparent;
    }

    .menu-left__divider {
      background: $color3;
    }

    .menu-left .jspScrollable .jspDrag:after {
      background: lighten($color2, 40%) !important;
    }

    // compact & vertical layout
    &.config--vertical.config--compact {
      @media (min-width: 768px) {
        .menu-left__item > a:before {
          background: $color3;
        }
      }
    }

    // horizontal layout
    &.config--horizontal {
      .menu-left {
        border-right: none;
        border-bottom: 1px solid $color4;
      }

      @media (min-width: 768px) {
        .menu-left__list--root > li.menu-left__item > a {
          border-left-color: $color3;
        }

        .menu-left__list--root > li.menu-left__item:hover > a {
          background: $color3;
          color: darken($color2, 20%);
        }

        .menu-left__list--root > li.menu-left__item:hover > a > .menu-left__icon {
          color: lighten($color2, 10%);
        }
      }
    }

  }
}
