@import '../../core/common/css/mixins';

body.config {

  &--borderLess {
    .card {
      border: none;
      &.utils__sortable__collapsed {
        .card-header {
          padding-bottom: rem(20);
        }
      }
    }

    .card-header {
      padding-top: rem(20);
      padding-bottom: 0;
      border-bottom: 0;
    }

    .card-footer {
      padding-top: 0;
      border-top: 0;
    }

    .utils__title {
      text-transform: uppercase;
      font-size: rem(16);
    }
  }

  &--squaredCorners {
    .card, .footer, .utils__widget {
      border-radius: 0 !important;
    }
  }

  &--fixedWidth {
    > .layout {
      max-width: 1420px;
      margin: 0 auto;
    }

    &:not(.config--horizontal) {
      .utils__content, .footer {
        padding-right: 0;
      }
    }

    @media (min-width: 1435px) {
      .menu-left__inner {
        border-left: 1px solid $gray-border;
      }
    }
  }
}