@import '../../core/common/css/mixins';

body.config {

  &--borderLess {
    .card {
      border: none;
      &.utils__sortable__collapsed {
        .card-header {
          padding-bottom: rem(20);
        }
      }
    }

    .card-header {
      padding-top: rem(20);
      padding-bottom: 0;
      border-bottom: 0;
    }

    .card-footer {
      padding-top: 0;
      border-top: 0;
    }

    .utils__title {
      text-transform: uppercase;
      font-size: rem(16);
    }
  }

  &--squared-corners {
    .card, .footer, .utils__widget {
      border-radius: 0 !important;
    }
  }

  &--vertical {
    &.config--unfixed {

      // next styles affects on "top-bar" module
      // set body top padding to 0 (remove space for fixed top bar)
      padding-top: 0;
      // remove fixed position from top bar
      .top-bar {
        position: static;
      }
    }

    &.config--boxed {
      // next styles affects on "styles-core" module
      // set body padding for create space for left menu
      padding-left: rem(50);

      @media (max-width: $sm-max-width) {
        padding-left: 0;
      }

      // next styles affects on "top-bar" module
      // custom styles of top bar module
      .top-bar {
        width: auto !important;
        max-width: $xl-max-width;
        margin: 0px auto !important;
        right: 0;
        left: rem(50);
        padding-left: rem(20);

        // body width < $xl-min-width
        @media (max-width: $xl-max-width) {
          padding-left: 0;
        }

        @media (min-width: $xl-min-width) {
          // hide logo on body width > $xl-min-width
          &__logo {
            display: none;
            padding-left: 0;
          }
        }
      }

      .utils__top-sidebar {
        margin-left: 0;
        margin-right: 0;
      }

      .utils__content {
        width: auto !important;
        max-width: $xl-max-width;
        margin: 0px auto !important;
        padding-left: 0;
        padding-right: 0;
      }

    }
  }

  &--horizontal {
    &.config--unfixed {

      // next styles affects on "top-bar" module
      // set body top padding to 0 (remove space for fixed top bar)
      padding-top: 0;
      overflow-x: hidden;
      // remove fixed position from top bar
      .top-bar {
        position: static;
      }
    }

    // > 768px (breakpoint) horizontal styles
    @media (min-width: $sm-min-width) {

      &.config--unfixed {
        .menu-left {
          position: relative;
        }
      }

      // next styles affects on "styles-core" module
      padding-top: rem(130);
      padding-left: 0;
      .utils__content {
        margin-left: 0;
      }

      // next styles affects on "top-bar" module
      .top-bar {
        top: rem(65);
        padding-left: rem(20);

        &__logo {
          display: none;
        }
      }

      // next styles affects on "menu-left" module
      .menu-left {
        left: 0;
        top: 0;
        width: 100%;
        height: rem(65);
        transform: none;
        transition: none;
        z-index: 991;

        &__lock {
          display: none;
        }

        &__inner {
          top: 0;
          left: rem(250);
          right: 0;
          width: auto;
          z-index: 9;
        }

        &__divider {
          display: none;
        }

        &__logo {
          position: relative;
          z-index: 10;
        }

        &__list {
          &--root {
            margin: 0;

            > li {
              float: left;
              &.menu-left__item {
                &:before {
                  top: auto;
                  bottom: 0;
                  height: 2px;
                  width: 100%;
                }

                > a {
                  height: rem(65);
                  padding: rem(14) rem(17) rem(0);
                  border-left: 1px solid $black-lighten-more;

                  > .badge {
                    position: absolute;
                    top: rem(6);
                    right: rem(6);
                  }

                  &:after {
                    top: auto;
                    bottom: rem(6);
                    left: 50%;
                    margin-left: rem(-3);
                    transform: rotate(-90deg);
                  }

                  > .menu-left__icon {
                    position: static;
                    width: 100%;
                    display: block;
                  }
                }

                &:hover {
                  > a {
                    background: $black;
                    color: $white;

                    > .menu-left__icon {
                      color: $white;
                    }
                  }
                }
              }

              &.menu-left__submenu {
                position: relative;

                &:hover {
                  > .menu-left__list {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    display: block;
                    width: rem(250);

                  }
                }

                .menu-left__submenu {
                  position: relative;

                  &.menu-left__item {
                    > a {
                      &:after {
                        transform: rotate(-180deg);
                      }
                    }
                  }
                  &:hover {
                    > .menu-left__list {
                      position: absolute;
                      top: rem(0);
                      left: 100%;
                      display: block;
                      width: rem(250);
                    }
                  }
                }

                &--horizontal-left {
                  .menu-left__submenu {
                    &.menu-left__item {
                      > a {
                        &:after {
                          transform: rotate(0deg);
                        }
                      }
                    }
                    &:hover {
                      > .menu-left__list {
                        left: auto;
                        right: 100%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      // horizontal boxed layout
      &.config--boxed {

        // next styles affects on "menu-left" module
        // custom styles of menu left module
        .menu-left {
          left: 0;
          right: 0;
          max-width: $xl-max-width;
          margin: 0 auto;
        }

        // next styles affects on "top-bar" module
        // custom styles of top bar module
        .top-bar {
          width: auto !important;
          max-width: $xl-max-width;
          margin: 0px auto !important;
          right: 0;
          left: rem(0);
          padding-left: rem(20);

          @media (min-width: $xl-min-width) {
            // hide logo on body width > $xl-min-width
            &__logo {
              display: none;
              padding-left: 0;
            }
          }
        }

        // next styles affects on "styles-core" module
        // set body padding for remove space for left menu
        padding-left: rem(0);

        .utils__content {
          width: auto !important;
          max-width: $xl-max-width;
          margin: 0px auto !important;

          // add background
          @media (min-width: $sm-min-width) {
            background: $white;
          }
        }
      }
    }
  }
}