<!-- START: dashboard crypto -->
<nav class="utils__top-sidebar utils__top-sidebar--bg">
    <div class="pull-right">
        <a href="javascript: void(0);" class="btn btn-sm btn-outline-default ladda-button">
            Update
            <span class="hidden-sm-down"> Dashboard</span>
        </a>
        <a href="javascript: void(0);" class="btn btn-sm btn-outline-default ladda-button reset-button">
            Reset
            <span class="hidden-sm-down"> Order</span>
        </a>
    </div>
    <span class="font-size-18 d-block mb-2">
        <span class="text-muted">Home ·</span>
        <strong>Dashboard Crypto</strong>
    </span>
</nav>
<div class="crypto">
    <div class="crypto__mobileList">
        <div class="utils__title utils__title--flat mb-3">
            <strong>Markets</strong>
        </div>
        <select class="custom-select">
            <option value="BTC">BTC (Bitcoin)</option>
            <option value="SNT">SNT (Status Network Token)</option>
            <option value="RADS">RADS (Radium)</option>
            <option value="MEME">MEME (Memetic)</option>
            <option value="XMR">XMR (Monero)</option>
            <option value="GLD">GLD (GoldCoin)</option>
            <option value="NEO">NEO (Neo)</option>
            <option value="BTG">BTG (Bitcoin Gold)</option>
            <option value="XRP">XRP (Ripple)</option>
            <option value="ZEC">ZEC (ZCash)</option>
            <option value="ZCL">ZCL (ZClassic)</option>
        </select>
    </div>
    <div class="crypto__list">
        <div class="utils__title utils__title--flat mb-3">
            <strong>Markets</strong>
        </div>
        <a href="javascript: void(0);" class="crypto__listItem crypto__listItem--current">
              <span class="crypto__listPercents">
                <span>11.7%</span>
                0.00016985
              </span>
            <span class="crypto__listCurrency">
                <span>BTC</span>
                97.20
              </span>
        </a>
        <a href="javascript: void(0);" class="crypto__listItem crypto__listItem--negative">
              <span class="crypto__listPercents">
                <span>-2.3%</span>
                0.00016985
              </span>
            <span class="crypto__listCurrency">
                <span>SNT</span>
                44.90
              </span>
        </a>
        <a href="javascript: void(0);" class="crypto__listItem">
              <span class="crypto__listPercents">
                <span>7.2%</span>
                0.00016985
              </span>
            <span class="crypto__listCurrency">
                <span>RADS</span>
                32.78
              </span>
        </a>
        <a href="javascript: void(0);" class="crypto__listItem crypto__listItem--negative">
              <span class="crypto__listPercents">
                <span>-11.7%</span>
                0.00016985
              </span>
            <span class="crypto__listCurrency">
                <span>MEME</span>
                12.25
              </span>
        </a>
        <a href="javascript: void(0);" class="crypto__listItem">
              <span class="crypto__listPercents">
                <span>67.5%</span>
                0.00016985
              </span>
            <span class="crypto__listCurrency">
                <span>XMR</span>
                8.26
              </span>
        </a>
        <a href="javascript: void(0);" class="crypto__listItem crypto__listItem--negative">
              <span class="crypto__listPercents">
                <span>-22.9%</span>
                0.00016985
              </span>
            <span class="crypto__listCurrency">
                <span>GLD</span>
                5.20
              </span>
        </a>
        <a href="javascript: void(0);" class="crypto__listItem crypto__listItem--negative">
              <span class="crypto__listPercents">
                <span>-12.3%</span>
                0.00016985
              </span>
            <span class="crypto__listCurrency">
                <span>NEO</span>
                3.20
              </span>
        </a>
        <a href="javascript: void(0);" class="crypto__listItem">
              <span class="crypto__listPercents">
                <span>+4.3%</span>
                0.00036234
              </span>
            <span class="crypto__listCurrency">
                <span>BTG</span>
                5.64
              </span>
        </a>
        <a href="javascript: void(0);" class="crypto__listItem crypto__listItem--negative">
              <span class="crypto__listPercents">
                <span>-4.2%</span>
                0.00035685
              </span>
            <span class="crypto__listCurrency">
                <span>XRP</span>
                6.36
              </span>
        </a>
        <a href="javascript: void(0);" class="crypto__listItem crypto__listItem--negative">
              <span class="crypto__listPercents">
                <span>-1.7%</span>
                0.00000985
              </span>
            <span class="crypto__listCurrency">
                <span>ZEC</span>
                6.35
              </span>
        </a>
        <a href="javascript: void(0);" class="crypto__listItem crypto__listItem--negative">
              <span class="crypto__listPercents">
                <span>-2.8%</span>
                0.00000152
              </span>
            <span class="crypto__listCurrency">
                <span>ZCL</span>
                1.03
              </span>
        </a>
    </div>
    <div class="crypto__content">
        <div class="utils__title utils__title--flat mb-3">
            <strong>Bittrex Live Market</strong>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="height-400">
                </div>
            </div>
        </div>
        <div class="utils__title utils__title--flat mb-3">
            <strong>Order Book</strong>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="crypto__order">
                    <div class="crypto__orderLeft">
                        <div class="crypto__table text-nowrap">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tr>
                                        <td>SUM</td>
                                        <td>Total</td>
                                        <td>Size</td>
                                        <td>BID</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>3.3187</td>
                                        <td>3.0801</td>
                                        <td>479.021</td>
                                        <td class="text-success">0.00643000</td>
                                        <td>
                                            <a href="javascript: void(0);">SELL</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2.3187</td>
                                        <td>3.3536</td>
                                        <td>236.021</td>
                                        <td class="text-success">0.00267789</td>
                                        <td>
                                            <a href="javascript: void(0);">SELL</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3.3187</td>
                                        <td>3.3267</td>
                                        <td>236.021</td>
                                        <td class="text-success">0.00643670</td>
                                        <td>
                                            <a href="javascript: void(0);">SELL</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4.3187</td>
                                        <td>3.24727</td>
                                        <td>637.021</td>
                                        <td class="text-success">0.00267000</td>
                                        <td>
                                            <a href="javascript: void(0);">SELL</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5.3187</td>
                                        <td>3.272</td>
                                        <td>15.021</td>
                                        <td class="text-success">0.00333000</td>
                                        <td>
                                            <a href="javascript: void(0);">SELL</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>6.3187</td>
                                        <td>3.2727</td>
                                        <td>62.021</td>
                                        <td class="text-success">0.00643667</td>
                                        <td>
                                            <a href="javascript: void(0);">SELL</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>7.3187</td>
                                        <td>3.4778</td>
                                        <td>23.021</td>
                                        <td class="text-success">0.00647873</td>
                                        <td>
                                            <a href="javascript: void(0);">SELL</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5.3187</td>
                                        <td>3.8549</td>
                                        <td>2356.021</td>
                                        <td class="text-success">0.00643478</td>
                                        <td>
                                            <a href="javascript: void(0);">SELL</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>9.3187</td>
                                        <td>3.35738</td>
                                        <td>125.021</td>
                                        <td class="text-success">0.00477000</td>
                                        <td>
                                            <a href="javascript: void(0);">SELL</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10.3187</td>
                                        <td>3.37</td>
                                        <td>234.021</td>
                                        <td class="text-success">0.00236000</td>
                                        <td>
                                            <a href="javascript: void(0);">SELL</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="crypto__orderPagination">
                                <ul class="pagination mb-0">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="crypto__orderMiddle">
                        <div class="crypto__form">
                            <form action="">
                                <div class="form-group">
                                    <div class="w-100 btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="w-50 btn btn-outline-primary btn-sm active">
                                            <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                            BUY
                                        </label>
                                        <label class="w-50 btn btn-outline-primary btn-sm">
                                            <input type="radio" name="options" id="option2" autocomplete="off"> SELL
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="orderType" class="crypto__formLabel">Order type</label>
                                    <select class="custom-select" id="orderType">
                                        <option value="1">Limit (Default)</option>
                                        <option value="2">Conditional</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="orderQuantity" class="crypto__formLabel">QUANTITY (BTC)</label>
                                    <input id="orderQuantity" type="text" class="form-control" placeholder="Quantity"
                                           value="0.00000000">
                                </div>
                                <div class="form-group">
                                    <label for="orderBid" class="crypto__formLabel">BID PRICE</label>
                                    <input id="orderBid" type="text" class="form-control" placeholder="BID Price"
                                           value="0.00645198">
                                </div>
                                <div class="form-group">
                                    <label for="orderTotal" class="crypto__formLabel">TOTAL</label>
                                    <input id="orderTotal" type="text" class="form-control" placeholder="Total"
                                           value="0.00000000">
                                </div>
                                <div class="form-group">
                                    <label for="orderTime" class="crypto__formLabel">TIME IN FORCE</label>
                                    <select class="custom-select" id="orderTime">
                                        <option value="1">Good 'Til Canceled (Default)</option>
                                        <option value="2">Immediate or Cancel</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <a href="javascript: void(0);" class="w-100 btn btn-success text-uppercase">Buy
                                        btc</a>
                                </div>
                            </form>
                        </div>
                        <div class="my-3 text-center">
                            <div>
                                <strong>Available Balance</strong>
                            </div>
                            <div>12.92520000 BTC</div>
                            <div>1450.00 USD</div>
                            <div>
                                <a href="javascript: void(0);" class="utils__link--blue utils__link--underlined">
                                    <strong>Max Buy</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="crypto__orderRight">
                        <div class="crypto__table text-nowrap">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tr>
                                        <td></td>
                                        <td>ASK</td>
                                        <td>Size</td>
                                        <td>Total</td>
                                        <td>SUM</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript: void(0);">BUY</a>
                                        </td>
                                        <td class="text-danger">0.00643000</td>
                                        <td>479.021</td>
                                        <td>3.0801</td>
                                        <td>3.3187</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript: void(0);">BUY</a>
                                        </td>
                                        <td class="text-danger">0.00267789</td>
                                        <td>236.021</td>
                                        <td>3.3536</td>
                                        <td>2.3187</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript: void(0);">BUY</a>
                                        </td>
                                        <td class="text-danger">0.00643670</td>
                                        <td>236.021</td>
                                        <td>3.3267</td>
                                        <td>3.3187</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript: void(0);">BUY</a>
                                        </td>
                                        <td class="text-danger">0.00267000</td>
                                        <td>637.021</td>
                                        <td>3.24727</td>
                                        <td>4.3187</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript: void(0);">BUY</a>
                                        </td>
                                        <td class="text-danger">0.00333000</td>
                                        <td>15.021</td>
                                        <td>3.272</td>
                                        <td>5.3187</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript: void(0);">BUY</a>
                                        </td>
                                        <td class="text-danger">0.00643667</td>
                                        <td>62.021</td>
                                        <td>3.2727</td>
                                        <td>6.3187</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript: void(0);">BUY</a>
                                        </td>
                                        <td class="text-danger">0.00647873</td>
                                        <td>23.021</td>
                                        <td>3.4778</td>
                                        <td>7.3187</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript: void(0);">BUY</a>
                                        </td>
                                        <td class="text-danger">0.00643478</td>
                                        <td>2356.021</td>
                                        <td>3.8549</td>
                                        <td>5.3187</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript: void(0);">BUY</a>
                                        </td>
                                        <td class="text-danger">0.00477000</td>
                                        <td>125.021</td>
                                        <td>3.35738</td>
                                        <td>9.3187</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="javascript: void(0);">BUY</a>
                                        </td>
                                        <td class="text-danger">0.00236000</td>
                                        <td>234.021</td>
                                        <td>3.37</td>
                                        <td>10.3187</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="crypto__orderPagination">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="utils__title utils__title--flat mb-3">
            <strong>Market History</strong>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="crypto__table text-nowrap text-left">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tr>
                                <td>Date</td>
                                <td>BUY/SELL</td>
                                <td>BID/ASK</td>
                                <td>Units Total</td>
                                <td>Total Cost</td>
                            </tr>
                            <tr>
                                <td>20:11:25</td>
                                <td class="text-danger">SELL</td>
                                <td>6709.00000000</td>
                                <td>0.00050000</td>
                                <td>3.35510106</td>
                            </tr>
                            <tr>
                                <td>20:26:52</td>
                                <td class="text-success">BUY</td>
                                <td>6709.00000000</td>
                                <td>7.00050000</td>
                                <td>32.35510106</td>
                            </tr>
                            <tr>
                                <td>20:31:12</td>
                                <td class="text-success">BUY</td>
                                <td>6709.00000000</td>
                                <td>0.00050000</td>
                                <td>3.35510106</td>
                            </tr>
                            <tr>
                                <td>20:41:15</td>
                                <td class="text-danger">SELL</td>
                                <td>6809.00000000</td>
                                <td>2.00050000</td>
                                <td>12.35510106</td>
                            </tr>
                            <tr>
                                <td>20:47:25</td>
                                <td class="text-danger">SELL</td>
                                <td>6709.00000000</td>
                                <td>0.00050000</td>
                                <td>3.35510106</td>
                            </tr>
                            <tr>
                                <td>20:56:25</td>
                                <td class="text-danger">SELL</td>
                                <td>6709.00000000</td>
                                <td>0.00050000</td>
                                <td>3.35510106</td>
                            </tr>
                        </table>
                    </div>
                    <div class="crypto__orderPagination">
                        <ul class="pagination mb-0">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="utils__title utils__title--flat mb-3">
            <strong>My Open Orders</strong>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="crypto__table text-left text-nowrap">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tr>
                                <td>Order Date</td>
                                <td>Open Date</td>
                                <td>Type</td>
                                <td>BID/ASK</td>
                                <td>Filled</td>
                                <td>Units Total</td>
                                <td>Actual Rate</td>
                                <td>Est. Total</td>
                            </tr>
                            <tr>
                                <td>2018/05/27 20:55:39</td>
                                <td>2018/05/27 20:55:39</td>
                                <td class="text-danger">SELL</td>
                                <td>7319.44600000</td>
                                <td>0.26510202</td>
                                <td>0.26510202</td>
                                <td>7325.77049148</td>
                                <td>1937.22136398</td>
                            </tr>
                            <tr>
                                <td>2018/05/24 09:28:04</td>
                                <td>2018/05/24 09:27:11</td>
                                <td class="text-success">BUY</td>
                                <td>7660.00000000</td>
                                <td>0.29959731</td>
                                <td>0.29959731</td>
                                <td>7660.00000000</td>
                                <td>-2300.65268307</td>
                            </tr>
                            <tr>
                                <td>2018/05/18 20:21:08</td>
                                <td>2018/05/18 20:21:08</td>
                                <td class="text-danger">SELL</td>
                                <td>8121.00000001</td>
                                <td>0.28400674</td>
                                <td>0.28400674</td>
                                <td>8121.00000000</td>
                                <td>2300.65268871</td>
                            </tr>
                        </table>
                    </div>
                    <div class="crypto__orderPagination">
                        <ul class="pagination mb-0">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="utils__title utils__title--flat mb-3">
            <strong>My Order History</strong>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="crypto__table text-left text-nowrap">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tr>
                                <td>Order Date</td>
                                <td>Open Date</td>
                                <td>Type</td>
                                <td>BID/ASK</td>
                                <td>Filled</td>
                                <td>Units Total</td>
                                <td>Actual Rate</td>
                                <td>Est. Total</td>
                            </tr>
                            <tr>
                                <td>2018/05/27 20:55:39</td>
                                <td>2018/05/27 20:55:39</td>
                                <td class="text-danger">SELL</td>
                                <td>7319.44600000</td>
                                <td>0.26510202</td>
                                <td>0.26510202</td>
                                <td>7325.77049148</td>
                                <td>1937.22136398</td>
                            </tr>
                            <tr>
                                <td>2018/05/24 09:28:04</td>
                                <td>2018/05/24 09:27:11</td>
                                <td class="text-success">BUY</td>
                                <td>7660.00000000</td>
                                <td>0.29959731</td>
                                <td>0.29959731</td>
                                <td>7660.00000000</td>
                                <td>-2300.65268307</td>
                            </tr>
                            <tr>
                                <td>2018/05/18 20:21:08</td>
                                <td>2018/05/18 20:21:08</td>
                                <td class="text-danger">SELL</td>
                                <td>8121.00000001</td>
                                <td>0.28400674</td>
                                <td>0.28400674</td>
                                <td>8121.00000000</td>
                                <td>2300.65268871</td>
                            </tr>
                        </table>
                    </div>
                    <div class="crypto__orderPagination">
                        <ul class="pagination mb-0">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- END: dashboard crypto -->

<!-- START: page scripts -->
<script>
    $(function () {

    });
</script>
<!-- END: page scripts -->